/* .input {
  display: block;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 12px;
  border-radius: 9999px;
}
.input:focus{
  outline: none; 
  box-shadow: 0 0 5px rgba(138, 255, 187, 0.5); 
  border-color: #8cfcae;
}
.invalid input{
  border-color: #ff0000;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5); 
  background-color: #fde6e6;
  outline: none; 
}
.invalid div{
  color: #ff0000;
  text-align: left;
}

.input[type="radio"],
.input[type="checkbox"] {
  display: inline;
  width: 10%;
}

.label {
  font-size: 15px;
  display: block;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 5px;
  text-align: left;
  color: #555;
  font-weight: bold;
} */
.formGroup {
  position: relative;
  padding: 30px 20px ;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

.invalid div{
  color: #ff0000;
  text-align: left;
}
