
.button{
  position: relative;
  width: 100%;
  border: none;
  padding: 8px;
  text-align: center;
  color: white;
  background: black;
  display: inline;
  font-size: 16px;
}
.button::after{
  position: absolute;
  background-image: linear-gradient(90deg, transparent, var(--light_skew-color, transparent), transparent);
  content: "";
  left: 150%;
  top: 0;
  bottom: 0;
  transform: skew(-20deg);
  width: 200%;
  transition: left 1s, opacity .1s;
  opacity: 0;
}
.button:hover::after{
  left: -200%;
  opacity: 1;
}