.alertAnimation {
  animation: alertStart linear .5s, alertOut linear 1.2s 5s forwards;
}

@keyframes alertStart {
  from {
    opacity: 0;
    transform: translateX(120%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes alertOut {
  to {
    opacity: 0;
    transform: translateX(120%);
  }
}