/* .card {
  min-height: 480px;
} */

.cardInfomation2,
.cardColors {
  margin: 20px 0;
}

.cardInfomation1 {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 60%;
}

.cardInfomation1 .sale {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: red;
  color: white;
}

.cardInfomation1 .cardBtn {
  position: absolute;
  width: 100%;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.5s;
}

.cardInfomation1:hover .cardBtn {
  opacity: 1;
  visibility: visible;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
/* 
.listColor .item {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px;
  border: 1px solid #000;
  cursor: pointer;
}

.listColor .item .clearfix {
  display: block;
  border-radius: 50px;
  position: absolute;
  min-width: 60px;
  background-color: #000;
  color: white;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0;
}

.listColor .item:hover .clearfix {
  font-size: 15px;
  opacity: 1;
  visibility: visible;
} */

.cardPrice span {
  color: red;
  font-size: 20px;
}

.cardTitle {
  font-size: 20px;
}

.productTitle {
  font-style: italic;
  /* Giới hạn chiều cao cho 2 dòng */
  display: -webkit-box;
  min-height: 60px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.cardTitle:hover .productTitle {
  text-decoration: underline;
  color: darkblue;
}

/* .clearfix {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
} */
