.dropdowItem{
  position: absolute;
  background-color: var(--color-background);
  min-width: 208px;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  text-align: left;
  top: 120%;
  transition: all 0.3s;
}
.dropdown:hover .dropdowItem {
  opacity: 1;
  visibility: visible;
}
.itemCenter{
  left: -50%;
}
.itemLeft{
  left: 0;
}
.itemRight{
  right: 0;
}