.slick:last-child {
  margin-right: 0;
}
.slick {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border-radius: 50%;
  font-size: 0;
  letter-spacing: 0;
  padding: 0;
  cursor: pointer;
  width: 12px;
  height: 12px;
  transition: all ease 0.3s;
  border: 1px solid #abb2bd;
  background: #abb2bd;
}