.imageAnimation {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.imageAnimation::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgb(var(--color-overlay));
  transition: .25s;
  z-index: 3;
  opacity: .1;
}

.imageAnimation::after {
  content: "";
  position: absolute;
  bottom: -100%;
  right: 0;
  width: 50%;
  height: 100%;
  background: rgb(var(--color-overlay));
  transition: .25s;
  z-index: 3;
  opacity: .1;
}
.imageAnimation:hover::before{
  top: 0%;
}
.imageAnimation:hover::after{
  bottom: 0%;
  transition-delay: .25s;
}